<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    
	<display-name>patterns</display-name>
	
	<listener>  
        <listener-class>org.mentawai.tag.CreateJSLibraries</listener-class>  
    </listener>
	
	<filter>   
		<filter-name>ResponseOverrideFilter</filter-name>   
		<filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>   
	</filter>
	<filter-mapping>
		<filter-name>ResponseOverrideFilter</filter-name>
		<url-pattern>*.mtw</url-pattern>
	</filter-mapping>
	
	<servlet>
    	<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
    	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    	<init-param>
    		<param-name>contextConfigLocation</param-name>
   		    <param-value>/WEB-INF/spring-context.xml</param-value>
   		</init-param>
   		<load-on-startup>1</load-on-startup>
    </servlet>
	
	<!-- The Mentawai controller -->
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>org.mentawai.core.Controller</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>

	<!-- You must choose an extension to indicate a mentawai action -->
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>*.mtw</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
	    <url-pattern>/</url-pattern>
	</servlet-mapping>
		
	<jsp-config>
		<taglib>
			<taglib-uri>displaytag</taglib-uri>
			<taglib-location>/WEB-INF/displaytag.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	<session-config>
		<session-timeout>480</session-timeout>
	</session-config>

	<error-page>
    	<error-code>500</error-code>
    	<location>/error.jsp</location>
	</error-page>
</web-app>